.about-me {
    width: 70%;
    .about-me__h {
        font-size: 3vmin;
        font-weight: 600;
        margin-bottom: 2vmin; 
    }
    p {
        font-size: 2vmin;
        .about-me__anchor {
            font-size: 2vmin;
            font-weight: 600;
            text-decoration: none;
            color: $color-src;
        }
        .about-me__anchor:hover {
            text-decoration: underline;
        }
    }    
}